
.customNav {
    position: fixed;
    width: 100%;
    background-color: rgba(55, 58, 60, 0.897) !important;
    /*background-size: cover;*/
    z-index: 10;
    color: white;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 95px;
  }
  .nav-item {
    margin: 0px 18px;
    color: white;
  }
  .customNav a {
    color: white !important;
  }
  /* jumbotron */
  .jumbotron {
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 300px;
  max-width: 500px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background: rgba(55, 58, 60, 0.597);
  padding: 10px;
  border-radius: 20px;

}
/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.showsNear  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.borderImage{
  border: 1px solid gray;
}
/*photo card*/
.photoCard{
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

/* Content */
.sideAccent {
  background: #007bff;
  width: 15px;
}
.imageContainer img {
  width: 100%;
}
.imageContainer {
  padding: 50px;
}
.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}
.skillsHeading {
  text-align: center;
}
.skillsAndTools{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.skillsList{
  display: inline-block;
  max-width: 300px;
  margin: 0 auto;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 10px;
  min-width: 250px;
}
@media (max-width: 700px){
  .skillsAndTools{
    display: block;
  }
}

/*Contact Me*/

.contactText{
  margin: 0 auto;
}
.contactLeft{
  text-align: center;
}
.contactCard{
  text-align: center;
  display: inline-block;
  min-width: 0;
  background-color: #ECEEEF;
  max-width: 600px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.roundedCircle{
  max-width: 300px;
}
.img-max {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  
 
}
#contactImage{
  padding: 20px;
  margin: 0 auto;
}
.galleryHeading{
  margin-top: 50px;
}
.galleryPhoto{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 700px;
  min-width: 400px;
}


.caption{
  padding: 20px;
  margin: 0 auto;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.webFooter{
  min-width: 300px;
}

.contactLeft{
  width: 100%;
  margin: 0 auto;
  float: left;
  
  
}

.contactRight{
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding-right:10px;
  padding-left:10px;
  
}
@media (max-width: 700px){
  .contactRight{
    display: inline-block;
  }
  
}
@media (max-width: 700px){
  .contactLeft{
    width: 100%;
  }
  
}
.nav-link{
  border-bottom: 3px solid transparent;
}
.nav-link:hover{
    border-bottom: 3px solid #aaa;
    color:white;
}
.nav-link:active{
    border-bottom:#aaa;
    color:white;
}
.mb-4{
  margin: 0 auto;
  padding-left: 20%;
  padding-right: 20%;

}

.slidingPics{
max-width: 600px;
margin: 0 auto;

}
.d-block{
  width: 100%;
  border-radius: 10px;
}
/*button animation*/
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.contactPage{
  margin-top: 110px;
}

.text-white{
  color: white;
}